@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
    --main-color: #ff4e50;
    --main-dark-color: #333333;
    --main-gray-color: #666666;
    --main-white-color: #ffffff;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--main-gray-color);
    background-color: var(--main-white-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    min-width: 320px;
    margin: 0 auto;
}


/* HEADER WRAP*/
.header {
    position: relative;
    background-image: url(../img/Vector\ Smart\ Object.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header::after {
    content: '';
    background-color: rgba(26, 25, 21, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%; 
}

.header_block {
    position: relative;
    padding: 40px 0 140px 0;
    z-index: 2;
    text-align: center;
}

.page_header {
    padding: 0 0 40px 0;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--main-white-color);
    font-weight: 700;
    transition: .4s;
}

.login_container {
    margin-bottom: 115px;
}

.btn_login {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
    border: none;
    background: transparent;
    transition: .4s;
}

.btn_login:hover,
.header_logo:hover {
    color: var(--main-color);
}

.btn_signup {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--main-white-color);
    border: 2px solid var(--main-white-color);
    background: transparent;
    border-radius: 20px;
    line-height: 30px;
    padding: 0 20px;
    transition: .4s;
}

.btn_signup:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.header_wrap {
    text-align: center;
}

.header_wrap__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-white-color);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.header_wrap__subtitle {
    font-size: 18px;
    color: var(--main-white-color);
    text-align: center;
    margin: 20px;
}

.header_wrap__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 280px;
    height: 40px;
    border: none;
    background: var(--main-color);
    color: var(--main-white-color);
    border-radius: 20px;
    transition: .4s;
}

.header_wrap__btn:hover {
    background: var(--main-white-color);
    color: var(--main-color);
}

/* PARTNERS BLOCK */
.partner_wrap {
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partner_wrap__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--main-dark-color);
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.partner_wrap__list-item {
    text-align: center;
    margin-bottom: 30px;
    transition: .4s;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-item__img {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.list-item-1::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(../img/icon/tv.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--main-white-color);
}

.list-item-2::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(../img/icon/botle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffa507;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--main-white-color);
}
  
.list-item-3::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(../img/icon/cup.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1cd7ad;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--main-white-color);
}

.list-item-4::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(../img/icon/fly.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4e73db;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--main-white-color);
}

.list-item__partner-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--main-dark-color);
    margin: 20px 0;
}

.list-item__partner-description {
    max-width: 230px;
}

.partner_wrap__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 280px;
    height: 40px;
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--main-color);
    border-radius: 20px;
    transition: .4s;
}

.partner_wrap__btn:hover {
    color: var(--main-white-color);
    background-color: var(--main-color);
}

@media screen and (min-width:576px){
    .container{
        width: 100%;
        max-width: 546px; 
        margin: 0 auto;
    }
}

@media screen and (min-width:768px){
    .container{
        width: 100%;
        max-width: 738px; 
        margin: 0 auto;
    }

    .header_block {
        padding: 50px 0 235px 0;
    }

    .page_header {
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 160px;
    }

    .header_wrap__subtitle {
        font-size: 18px;
        color: var(--main-white-color);
        text-align: center;
        margin: 40px;
    }

    .header_wrap__title {
        font-size: 52px;
        max-width: 600px;
    }

    .header_logo {
        justify-content: flex-start;
        display: flex;
    }

    .login_container {
        margin-bottom: 0;
        justify-content: flex-end;
        display: flex;
    }
}

@media screen and (min-width:992px){
    .container{
        width: 100%;
        max-width: 962px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1200px){
    .container{
        width: 100%;
        max-width: 1180px; 
        margin: 0 auto;
    }
}
