html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

.full_width {
    width: 100%;
    height: auto;
    padding-top: 100px;
}

.page_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
.page_header {
    background-color: #fff;
    width: 100%;
}

.page_header__nav {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.page_header__nav .page_header__logo {
    display: flex;
    align-items: center;
}

/*NAVIGATION*/
.page_header__menu {
    margin: 0;
    padding-top: 30px;
    list-style: none;
    display: flex;
}

.page_header__menu li {
    text-transform: uppercase;
}

.page_header__menu li:not(:last-child){
    margin-right: 60px;
}

.page_header__menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #95e1d3;
    transition: .4s;
}

.page_header__menu a:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #f38181;
    padding-top: 10px;
    transition: .4s;
}

.page_header__menu a:hover,
.page_header__menu a:focus {
    color: #f38181;
}
/*NAVIGATION END*/
/*HEADER END*/

/*TITTLE BLOCK*/
.title_block {
    margin-bottom: 65px;
}

.title_block__prename {
    font-family: 'Kaushan Script', cursive;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding-bottom: 24px; 
}

.title_block__name {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.title_block__name::after {
    padding-top: 40px;
    margin: auto;
    width: 60px;
    display: block;
    content: '';
    border-bottom: 3px solid #f38181;
}

.title_block__aftername {
    text-align: center;
    margin: 40px 130px 0px;
}
/*TITTLE BLOCK END*/
/*SERVICES BLOCK*/
.services_section {
    padding-bottom: 100px; 
}

.services_block {
    width: 100%;
}

.services_block__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services_block__element {
    width: 28%;
    min-width: 350px;
    margin-bottom: 100px;
}

.services_block__element:nth-child(4),
.services_block__element:nth-child(5),
.services_block__element:nth-child(6) {
    margin-bottom: 0;
}

.services_block__element h4 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.services_block__element::before {
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px 30px 30px 0px;
}

.services_block__element.photography::before {
    background-image: url(../img/icons/ALARM.svg);
}

.services_block__element.web-design::before {
    background-image: url(../img/icons/web-design.svg);
}

.services_block__element.creativity::before {
    background-image: url(../img/icons/creativity.svg);
}

.services_block__element.seo::before {
    background-image: url(../img/icons/seo.svg);
}

.services_block__element.css-html::before {
    background-image: url(../img/icons/css-html.svg);
}

.services_block__element.digital::before {
    background-image: url(../img/icons/digital.svg);
}
/*SERVICES BLOCK END*/
/*TEAM BLOCK*/
.team {
    padding-bottom: 85px;
}

.team_block__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.team_block__card {
    position: relative;
    min-width: 380px;
    width:30%;
    cursor: pointer;
    margin-bottom: 30px;
}

.team_block__button_block {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    visibility: hidden;
}

.team_block__button {
    width: 56px;
    height: 56px;
    margin-right: 1px;
    background-color: #fce38a;
}

.facebook_button {
    background-image: url(../img/social/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter_button {
    background-image: url(../img/social/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.pinterest_button {
    background-image: url(../img/social/pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.instagram_button {
    background-image: url(../img/social/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.team_block__card:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px #95e1d3;
    transition: all 200ms linear;
}

.team_block__card:hover .team_block__button:hover {
    background-color: #95e1d3
}

.team_block__card:hover .team_block__button_block {
    visibility: visible;
}

.team_block__card:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138, 0.9) 0%, rgb(243,129,129, 0.9) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138, 0.9) 0%, rgb(243,129,129, 0.9) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138, 0.9) 0%, rgb(243,129,129, 0.9) 100%);
    opacity: 80%;
    width: 380px;
    height: 470px;
}

.team_block__name h4 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.team_block__workname p {
    font-style: italic;
    text-align: center;
}

/*PAGE FOOTER*/
.page_footer {
    background-color: #fff;
    width: 100%;
}
.page_footer__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    min-height: 65px;
}

.page_footer__left-container a {
    color: #f38181;
    display: inline;
}

.page_footer__right-container form {
    display: inline-flex;
}

.page_footer__right-container input[name="e-mail"] {
    width: 230px;
    border: 1px solid #e5e5e5;
    font-style: italic;
    padding: 10px;
    margin: 0;
}

.page_footer__right-container button[name="submit"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 700;
    color: #fff;
    width: 150px;
    margin: 0;
    border: none;
    background-color: #95e1d3;
    padding: 0;
    line-height: 2.6;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #e5e5e5;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #e5e5e5;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #e5e5e5;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #e5e5e5;
  }
/*PAGE FOOTER END*/