html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: block;
    text-decoration: none;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    transition: .4s
}
/*HEADER*/
.page-header {
    position: fixed;
    background-color: #fff;
    z-index: 3;
    width: 100%;
    height: 100px;
    box-shadow: 0 4px 7px rgba(0,0,0,.15);
}
.wrap-header {
    height: 100%;
    position: relative;
}
/*LOGO*/
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.logo span {
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}
.logo span:nth-child(1) {
    font-weight: 700;
    color: #1abc9c;
}
/*LOGO END*/
/*NAVIGATION*/
.page-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu li {
    float: left;
    text-transform: uppercase;
}
.main-menu li:not(:last-child){
    margin-right: 35px;
}
.main-menu a {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    transition: .4s;
}
.main-menu a:hover,
.main-menu a:focus {
    color: #1abc9c;
}
/*NAVIGATION END*/
/*HEADER END*/
/*PAGE SLIDER*/
.mySlides {
    position: absolute;
    display: none;
    width: 100%; 
    height: 600px;
    transition: .4s
}
.slide1 {
    background: url(../img/slider/slide1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide2 {
    background: url(../img/slider/slide2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide3 {
    background: url(../img/slider/slide3.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide4 {
    background: url(../img/slider/slide4.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.page_slider {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/slider/slide4.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .4s
}
.page_slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0%;
    z-index: 1;
}
.page_slider__container {
    position: relative;
    max-width: 1110px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px 10px;
    z-index: 2;
}
.slider_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
}
.slider_button__left {
    left: 0;
    background-image: url(../img/slider/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50%;
    transition: .4s
}
.slider_button__right {
    right: 0;
    background-image: url(../img/slider/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50%;
    transition: .4s
}
.slider_button__left:hover,
.slider_button__right:hover {
    background-color: rgba(26, 188, 156, 0.5);
}
.page_slider__text-container {
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width: 744px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.page_slider__text-box {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s
}
.page_slider__text-box__slider-title {
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: initial;
    text-transform: uppercase;
    margin: 0;
}
.page_slider__text-box__slider-text {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    line-height: initial;
    text-transform: uppercase;
}

/*PAGE SLIDER END*/
/*TITTLE BLOCK*/
.head-block {
    margin-bottom: 40px;
}
.head-name {
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.head-name::after {
    padding-top: 32px;
    margin: auto;
    width: 160px;
    display: block;
    content: '';
    border-bottom: 7px solid #1abc9c;
}

/*TITTLE BLOCK END*/

/*FULL-WIDTH-CONTENT*/
.full-width-content {
    width: 100%;
    height: auto;
    background-color: #e9f0fd;
    padding-top: 100px;
}
/*FULL-WIDTH-CONTENT END*/

/*NEW COLLECTION*/
.new-collection-section {
    padding: 70px 0px;
}
.new-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.new-collection__card {
    height: 322px;
    width: 255px;
    margin: 30px 30px 0px 0px;
    cursor: pointer;
}
.new-collection__card:first-child {
    margin-left: 0;
}
.new-collection__card:nth-child(4n) {
    margin-right: 0;
}
.item {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
}
.item-name {
    margin: 0;
    background-color: #323232;
    padding-left: 14px;
    float: left;
    width: 195px;
}
.item-price {
    float: left;
    padding: 0px 14px;
    background-color: #8c8c8c;
    display: block;
    content: '$26';
    text-align: right;
    width: 60px;
}
.new-collection__card:hover .item-name{
    background-color: #1abc9c;
}
.new-collection__card:hover .item-price{
    background-color: #7fd9c7;
}
.new-collection__card:hover .hidden-icon-container {
    visibility: visible;
}
/*NEW COLLECTION END*/

/*HIDDEN ICON*/
.hidden-icon-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 260px;
    width: 235px;
    position: absolute;
    margin: 10px;
    visibility: hidden;
}
.hidden-icon {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.icon {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    fill: #fff;
    float: left;
    margin-right: 10px;
}
.icon:nth-child(3) {
    margin-right: 0;
}
.icon-long {
    float: left;
    background-color: #323232;
    width: 170px;
    height: 50px;
    border: 1px solid #fff;
    margin-top: 12px;
    fill: #fff;
    text-align: center;
}
.icon:hover,
.icon-long:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
.icon-img {
    display: block;
    margin: 12.5px auto;
}
.icon-long--img {
    margin-top: 12px;
}
.icon-long--text {
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff;
}
/*HIDDEN ICON END*/

/*FOOTER*/
.page-footer {
    width: 100%;
    height: 90px;
    background-color: #323232;
}
.footer-content {
    text-align: center;
    padding-top: 35.5px;
}
.footer-list {
    color: #fff;
    font-size: 16px;
}
.footer-list-item {
    display: inline-block;
}
.footer-list-item a{
    color: #1abc9c;
}
/*ADAPT*/
@media only screen and (max-width: 1130px) {
    .container {
        max-width: 842px;
    }
    div.logo {
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
    }
    nav.page-nav {
        display: none;
    }
    .mySlides {
        height: 450px;
    }
    section.page_slider {
        height: 450px;
    }
    button.slider_button {
        width: 75px;
        height: 75px;
    }
    button.slider_button__left {
        background-size: 30px;
        left: 40px;
    }
    button.slider_button__right {
        background-size: 30px;
        right: 40px;
    }
    h1.page_slider__text-box__slider-title {
        font-size: 42px;
    }
    p.page_slider__text-box__slider-text {
        font-size: 18px;
    }
    div.page_slider__text-container {
        max-width: 514px;
    }
    .new-collection__card:nth-child(4n) {
        margin-right: 30px;
    }
    .new-collection__card:nth-child(3n) {
        margin-right: 0;
    }
}
@media only screen and (max-width: 842px) {
    .container {
        max-width: 557px;
    }
    .new-collection__card:nth-child(4n) {
        margin-right: 30px;
    }
    .new-collection__card:nth-child(3n) {
        margin-right: 30px;
    }
    .new-collection__card:nth-child(2n) {
        margin-right: 0px;
    }
    h2.head-name {
        font-size: 42px;
    }
    div.page_slider__text-container {
        max-width: 361px;
    }
    h1.page_slider__text-box__slider-title {
        font-size: 30px;
    }
    p.page_slider__text-box__slider-text {
        font-size: 12px;
    }
    button.slider_button {
        width: 50px;
        height: 50px;
    }
    button.slider_button__left {
        background-size: 20px;
        left: 40px;
    }
    button.slider_button__right {
        background-size: 20px;
        right: 40px;
    }
}
@media only screen and (max-width: 600px) {
    section.page_slider {
        height: 300px;
    }
    .mySlides {
        height: 300px;
    }
    button.slider_button {
        display: none;
    }
    h2.head-name {
        font-size: 36px;
    }
    h2.head-name::after {
        padding-top: 32px;
        width: 80px;
    }
}
@media only screen and (max-width: 560px) {
    .container {
        max-width: 255px;
    }
    .new-collection {
        justify-content: center;
        flex-direction: column;
    }
    .new-collection__card {
        margin: 30px 0px 0px 0px;
    }
    .footer-list {
        font-size: 12px;
    }
    .footer-content {
        padding-top: 32.5px;
    }
}