html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/*LOGO*/
.logo {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.logo span {
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 300;
}
.logo span:nth-child(1) {
    font-weight: 700;
    color: #1abc9c;
}
/*LOGO END*/

/*NAVIGATION*/
.page-nav {
    padding-top: 38px;
    padding-bottom: 38px;
    margin: 0;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    width: 495px;
}
.main-menu ul {
    margin: 0;
    padding: 0;
}
.main-menu li {
    float: left;
    text-transform: uppercase;
}
.main-menu li:not(:last-child){
    margin-right: 35px;
}
.main-menu a {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    transition: .4s;
}
.main-menu a:hover,
.main-menu a:focus {
    color: #1abc9c;
}
/*NAVIGATION END*/
/*PAGE SLIDER*/
.page-slider {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/slider/slide4.jpg); 
}
.page-slider::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
}
.page-slider-box {
    position: absolute;
    max-width: 1110px;
    top: 225px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.page-slider-text-box {
    position: absolute;
    width: 744px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.slider-button {
    padding: 0;
    border: 0;
    margin-top: -25px;
    cursor: pointer;
    box-sizing: border-box;
}
.slider-button-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    cursor: pointer;
    background-image: url(../img/slider/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50%;
    transition: .4s
}
.slider-button-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    cursor: pointer;
    background-image: url(../img/slider/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50%;
    transition: .4s
}
.slider-button-left:hover,
.slider-button-right:hover {
    background-color: rgba(26, 188, 156, 0.5);
}
.slider-title {
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.slider-text {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
}

/*PAGE SLIDER END*/
/*TITTLE BLOCK*/
.head-block {
    text-align: center;
}
.head-name {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.head-name::after {
    padding-top: 32px;
    margin: auto;
    width: 160px;
    display: block;
    content: '';
    border-bottom: 7px solid #1abc9c;
}
/*TITTLE BLOCK END*/

/*FULL-WIDTH-CONTENT*/
.full-width-content {
    width: 100%;
    height: auto;
    background-color: #e9f0fd;
}
/*FULL-WIDTH-CONTENT END*/

/*NEW COLLECTION*/
.new-collection {
    padding-bottom: 70px;
}
.new-collection-container {
    height: 322px;
    width: 255px;
    margin-right: 30px;
    float: left;
    cursor: pointer;
}
.new-collection-container:nth-child(4n) {
    margin: 0px;
}
.item {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
}
.item-name {
    margin: 0;
    background-color: #323232;
    padding-left: 14px;
    float: left;
    width: 195px;
}
.item-price {
    float: left;
    padding: 0px 14px;
    background-color: #8c8c8c;
    display: block;
    content: '$26';
    text-align: right;
    width: 60px;
}
.new-collection-container:hover .item-name{
    background-color: #1abc9c;
}
.new-collection-container:hover .item-price{
    background-color: #7fd9c7;
}
.new-collection-container:hover .hidden-icon-container {
    visibility: visible;
}
/*NEW COLLECTION END*/

/*HIDDEN ICON*/
.hidden-icon-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 260px;
    width: 235px;
    position: absolute;
    margin: 10px;
    visibility: hidden;
}
.hidden-icon {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.icon {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    fill: #fff;
    float: left;
    margin-right: 10px;
}
.icon:nth-child(3) {
    margin-right: 0;
}
.icon-long {
    float: left;
    background-color: #323232;
    width: 170px;
    height: 50px;
    border: 1px solid #fff;
    margin-top: 12px;
    fill: #fff;
    text-align: center;
}
.icon:hover,
.icon-long:hover {
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}
.icon-img {
    display: block;
    margin: 12.5px auto;
}
.icon-long--img {
    margin-top: 12px;
}
.icon-long--text {
    float: right;
    margin-top: 12px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff;
}
/*HIDDEN ICON END*/

/*FOOTER*/
.page-footer {
    width: 100%;
    height: 90px;
    background-color: #323232;
}
.footer-content {
    text-align: center;
    padding-top: 32.5px;
}
.footer-list {
    color: #fff;
    font-size: 16px;
}
.footer-list-item {
    display: inline-block;
}
.footer-list-item a{
    color: #1abc9c;
}
