html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}
/*NAVIGATION*/
.page-nav {
    padding-top: 77px;
    padding-bottom: 105px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    text-transform: uppercase;
}

.main-menu li:not(:last-child){
    margin-right: 100px;
}

.main-menu a {
    text-decoration: none;
    color: #626262;
    transition: .4s;
}
.main-menu a:hover,
.main-menu a:focus {
    color: #03a9f4;
}
/*NAVIGATION END*/
.small-container-item {
    font-size: 0;
    margin: 0;
    padding: 0;
}
.small-container-item h2 {
    font-size: 30px;
    font-weight: 400;
}
h2 {
    margin: 0;
    padding-bottom: 40px;
}
p {
    margin: 0;
}
.small-container-item p {
    font-size: 14px;
    margin-top: 0;
    padding: 0;
}
.small-container-item div {
    width: 420px;
    max-height: 490px;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 140px;
}
.small-container-item div:nth-child(5),
.small-container-item div:last-child {
    margin-bottom: 0px;
}
.small-container-item div:nth-child(2n) {
    margin-right: 0px;
}
.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    line-height: 70px;
}

/*BUTTON*/
.btn-block {
    display: inline-block;
    width: 900px;
    margin: 0;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
}
.btn-default,
a.btn {
    font-size: 20px;
    line-height: 46px;
    padding: 0 40px;
}
.btn {
    display: inline-block;
    color: #626262;
    background-color: transparent;
    text-align: center;
    border: 1px solid #626262;
    transition: .4s;
}
.btn:hover,
.btn:focus {
    background-color: #03a9f4;
    background-image: none;
    color: #ffffff;
    border: 1px solid #03a9f4;
}
/*BUTTON END*/
a {
    text-decoration: none;
}

