$main-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Kaushan Script', cursive;
$main-dark-color: #333;
$main-yellow-color: #fce38a;
$main-white-color: #fff;
$main-red-color: #f38181;
$main-gray-color: #999;
$main-green-color: #95e1d3;